<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cheaperskate</title>
    <script src="https://unpkg.com/react@15.3.1/dist/react-with-addons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.2/JSXTransformer.js"></script>
    <script src="https://unpkg.com/react-dom@15.3.1/dist/react-dom.min.js"></script>
    <script src="https://unpkg.com/react-dom@15.3.1/dist/react-dom-server.min.js"></script>
    <script src="https://unpkg.com/recharts@0.13.3/umd/Recharts.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <link rel="stylesheet" href="../static/styles.css">

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react-dom.min.js"></script> -->
    <script src="https://unpkg.com/classnames/index.js"></script>
    <script src="https://unpkg.com/react-input-autosize/dist/react-input-autosize.js"></script>
    <script src="https://unpkg.com/react-select/dist/react-select.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/react-select/dist/react-select.css">
</head>
<body>
     <div id="mount-point"></div>
     <div id="time-bucket-selector"></div>
     <div id="chartOne" class="chart"></div>
</body>

  <script type="text/jsx" src="../static/line-chart.js"></script>

</html>